<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Expected graduation date:</strong>
    <%= student.expected_graduation_date %>

  </p>

<% if student.profile_picture.attached? %>
  <%= image_tag student.profile_picture, width: "150", height: "150" %>
<% else %>
  <%= image_tag "deafult_profile", width: "150", height: "150" %>
<% end %>


</div>


